div, p { box-shadow: none!important; }

.main-content ul > li::before {
    position: absolute;
    margin-left: -1.4em;
    color: #959396;
    content: "◾";
}

.main-content li ul > li::before {
    position: absolute;
    margin-left: -1.4em;
    color: #959396;
    content: "▹";
}

.side-bar, .page-header {
  background-image: url("https://dl.dropbox.com/s/5crvzulrhyhtcsk/cbrpnktxtbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Light theme (default) */
html[data-theme="light"] .side-bar,
html[data-theme="light"] .page-header {
    background-image: url(https://dl.dropbox.com/s/5crvzulrhyhtcsk/cbrpnktxtbg.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

/* Dark theme */
html[data-theme="dark"] .side-bar,
html[data-theme="dark"] .page-header {
  background-image: url("https://your-dark-image-url.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
    background-image: linear-gradient(-90deg, #ffffff 0%, rgba(255, 255, 255, 0.8) 80%, rgba(235, 237, 245, 0) 100%);
}

// Print-only styles.
@media print {
    .side-bar,
    .page-header {
      display: none;
    }
    .main-content {
      max-width: auto;
      margin: 1em;
    }
  }  