p.dica, blockquote.dica, p.tip, blockquote.tip { box-shadow: 0; }

.side-bar, .page-header { 
    background-image: url(https://dl.dropbox.com/scl/fi/l61jclg19v2oxllmu8sr5/cbrpnktxtbg.png?rlkey=5lu7d1l6v4w79b0ypmrdq5fy9);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

// Print-only styles.
@media print {
    .side-bar,
    .page-header {
      display: none;
    }
    .main-content {
      max-width: auto;
      margin: 1em;
    }
  }  