div, p { box-shadow: none!important; }

.main-content ul > li::before {
    position: absolute;
    margin-left: -1.4em;
    color: #959396;
    content: "◾";
}

.main-content li ul > li::before {
    position: absolute;
    margin-left: -1.4em;
    color: #959396;
    content: "▹";
}

.side-bar, .page-header {
  background-image: url("/assets/images/cbrpnktxtbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Light theme (default) */
html[data-theme="light"] .side-bar,
html[data-theme="light"] .page-header {
    background-image: url("/assets/images/cbrpnktxtbg.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

/* Dark theme */
html[data-theme="dark"] .side-bar,
html[data-theme="dark"] .page-header {
  background-image: url("/assets/images/cbrpnktxtbg_dark.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
    background-image: linear-gradient(-90deg, #ffffff 0%, rgba(255, 255, 255, 0.8) 80%, rgba(235, 237, 245, 0) 100%);
}

/* LIGHT THEME */
html[data-theme="light"] 
.nav-list .nav-list-item .nav-list-link:hover,
html[data-theme="light"] 
.nav-list .nav-list-item .nav-list-link.active {
  background-image: linear-gradient(
    -90deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.8) 80%,
    rgba(235, 237, 245, 0) 100%
  );
}

/* DARK THEME */
html[data-theme="dark"] 
.nav-list .nav-list-item .nav-list-link:hover,
html[data-theme="dark"] 
.nav-list .nav-list-item .nav-list-link.active {
  background-image: linear-gradient(
    -90deg,
    #27262b 0%,
    rgba(39, 38, 43, 0.85) 80%,
    rgba(39, 38, 43, 0) 100%
  );
}

// Print-only styles.
@media print {
    .side-bar,
    .page-header {
      display: none;
    }
    .main-content {
      max-width: auto;
      margin: 1em;
    }
  }

/* Remove default logo image */
.site-logo img {
  display: none;
}

/* Base logo (light) */
.site-logo {
  display: block;
  width: 100%;
  height: 60px; /* adjust to your logo */
  background-image: url("/assets/images/cbrpnk_logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* Dark theme logo */
html[data-theme="dark"] .site-logo {
  background-image: url("/assets/images/cbrpnk_logo_dark.png");
}