p.dica, blockquote.dica, p.tip, blockquote.tip { box-shadow: 0!important; }

.side-bar, .page-header { background-color: #000; }

// Print-only styles.
@media print {
    .side-bar,
    .page-header {
      display: none;
    }
    .main-content {
      max-width: auto;
      margin: 1em;
    }
  }  